# Calculator type - simple class example

In [8]:
class Calculator:
    def __init__(self, x, y): # __init__ is used to create objects
        self.x = x # the property x is recorded for the object
        self.y = y # the property y is recorded
        
    def add(self):
        return self.x + self.y # references the pre-recorded properties
    
    def subtract(self):
        if not isinstance(self.x, (int, float)):
            raise Exception("x must be a number")
        if not isinstance(self.y, (int, float)):
            raise Exception("y must be a number")        
        return self.x - self.y

In [16]:
# test the Calculator with numbers
a = 1
b = 2
calc = Calculator(a, b)
print(calc.add())

3

In [18]:
calc.subtract()

-1

In [10]:
# test the Calculator with strings
calc2 = Calculator("hi ", "there")
print(calc2.add())

hi there

In [29]:
# test the Calculator's error checking
x=34
y=89
yu = Calculator(x,y)
print(yu.add())

<bound method Calculator.add of <__main__.Calculator object at 0x00000213FC1981C8>>

In [25]:
print(calc2.subtrack())

AttributeError: 'Calculator' object has no attribute 'subtrack'

Object `read_csv` not found.

In [52]:
import pandas as pd
import csv

In [53]:
df = pandas.read_csv('data.csv')

In [54]:
df.head(5)

,group,Patient_id,clump \nthickness,size \nuniformity,shape \nuniformity,Marginal \nadhesion,epithelial\ncell size,bare \nnuclei,bland\nchromatin,normal\nNucleoli,Mitoses
0,12.0,2000046.0,1.0,9.0,3.0,3.0,9.0,5.0,2.0,9.0,4.0
1,12.0,2000047.0,6.0,10.0,2.0,5.0,2.0,1.0,1.0,9.0,7.0
2,12.0,2000048.0,6.0,9.0,7.0,9.0,9.0,8.0,5.0,8.0,6.0
3,12.0,2000049.0,1.0,2.0,3.0,4.0,10.0,2.0,4.0,2.0,7.0
4,12.0,2000050.0,4.0,2.0,2.0,2.0,1.0,3.0,3.0,1.0,1.0